:root {
  --green-won: #3be31c;
  --board-size-full: 65vh;
  --board-size-mobile: 90vw;
}
.board-wrapper {
  height: 100%;
  min-width: var(--board-size);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex;
  flex-direction: column;
  flex: 1;
}

.board {
  background: #f8f8f8;
  border-radius: 2%;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: column;
  transition: background-color 2s;
}
.bg-green {
  background: var(--green-won);
  transition: background-color 200ms;
}

.has-won-message {
  color: var(--green-won);
}

.control-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
}
.input-wrapper label {
  background: white;
  display: flex;
  justify-content: space-between;
  margin: 1% 0;
  border-radius: 5px;
  padding: 1%;
  width: 60%;
}
.input-wrapper label input {
  border: none;
  background: transparent;
  width: 40%;
}

@media (max-width: 700px) {
}
