.board-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex;
  flex-direction: column;
}

.board {
  height: 40vw;
  width: 40vw;
  background: #eee;
  border-radius: 2%;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: column;
}

.shuffle-btn {
  height: 5%;
  width: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: white;
  border-radius: 10%;
  margin: 1%;
}
