:root {
  --tile-size-full: 13vh;
  --tile-size-mobile: 8.5vw;
}
.tile {
  background: lightgray;
  border-radius: 10%;
  height: var(--tile-size-full);
  width: var(--tile-size-full);

  transition: 300ms background-color;
  box-shadow: 1px 1px 2px 2px rgb(0, 0, 0, 0.4);
  margin: 3vh;
}

@media (max-width: 700px) {
  .tile {
    min-height: var(--tile-size-mobile);
    min-width: var(--tile-size-mobile);
    margin: 1vw;
  }
}
